* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgba(128, 128, 128, 0.2);
}

/* Header style */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(0, 0, 0);
    padding: 20px 20px 20px 20px;
    max-width: 100%;
}

.header-logo {
    font-size: 40px;
}

.nav-bar {
    display: flex;
    gap: 40px;
}

.fa-moon, .fa-bars {
    cursor: pointer;
    font-size: 40px;
}

/* HEADER @MEDIA RULES */

@media (min-width: 768px) {
    header {
        width: 768px;
        margin: 0 auto;
    }

    .nav-bar {
        gap: 100px;
    }
}

@media (min-width: 1440px) {
    header {
        width: 1024px;
        margin: 0 auto;
    }

    .nav-bar {
        gap: 100px;
    }
}

@media (min-width: 2560px) {
    header {
        width: 1440px;
        margin: 0 auto;
    }

    .nav-bar {
        gap: 100px;
    }
}