@media (max-width: 670px) {
   header {
      background-color: blue;
   }
   .header-title h1 {
      font-size: 15px;
   }
   
   .header-title a {
      font-size: 10px;
   }

   .fa-brands {
      margin-bottom: 5px;
   }

   footer i p {
      font-size: 10px;
   }

   address {
      font-size: 10px;
   }
   
   .container {
      display: block;
      
      
   }
   
   .profile-experience, .education-certification {
      width: 90%;
      margin: 10px auto;
   }







}
