@media (max-width: 670px) {
    main {
        flex-direction: column;
     }

     .aside {
         margin: 0 auto;
         width: 50px;
     }
     
}

@media (max-width: 1000px) {
    main {
        flex-wrap: wrap;
    }
    .aside {
        width: 50px;
    }
}
