@media (max-width: 670px) {
   header {
      background-color: blueviolet;
   }
   .header-image {
      margin: 0;
   }
   .header-title {
      margin: 0;
   }
   .header-title h1 {
      font-size: 10px;
   }
   .header-socials {
      margin: 0;
      display: grid;
   }
}

@media (max-width: 1000px) {

}