/** {
   box-sizing: box-border;
}
body, h1, header, nav, img, a, i {
   margin: 0;
   padding: 0;
   
}

header {
   background-color: rgba(0, 0, 255, 0.6);
   color: rgba(255, 255, 255, 1);
   padding: 10px;
   height: 80px;
   width: 100%;
   margin-bottom: 10px;
}










.fa-brands {
   margin-bottom: 15px; 
}

a {
   color: rgba(255, 255, 255, 1);
   text-decoration: none;
}

li {
   list-style-type: circle;
}

main {
   background-color: white;
   color: rgba(0, 0, 255, 0.9);
   padding: 10px;
}

.aside2 li {
   list-style-type: none;
}

.aside2 ul {
   padding-left: 0;
}

.profile-heading {
  border-bottom: 1px solid rgba(0, 0, 255, 0.6);
}

.experience-heading {
  border-bottom: 1px solid rgba(0, 0, 255, 0.6);
}

.education-heading {
  border-bottom: 1px solid rgba(0, 0, 255, 0.6);
}

.education-list2 {
   list-style-type: none;
}

.education-list1 {
   padding-left: 0;
}

footer {
   background-color: rgba(0, 0, 255, 0.6);
   color: white;
   text-align: center;
   width: 100%;
}

.aside1 {
   width: 50%;
   border: 1px solid rgba(0, 0, 255, 0.6);
   padding: 10px;
   border-radius: 10px;
   box-shadow: 5px 5px rgba(0, 0, 255, 0.6);
   margin: 0 10px 0 0;
}

.aside2 {
   width: 50%;
   padding: 10px;
   margin: 0 10px 0 10px;
   border: 1px solid rgba(0, 0, 255, 0.6);
   box-shadow: 5px 5px rgba(0, 0, 255, 0.6);
   border-radius: 10px;
}

main {
   display: flex;
}*/
body, h1 {
   margin: 0;
   padding: 0;
   font-family: monospace;
}

header {
   width: 100%;
   height: 80px;
   background-color: rgba(222, 222, 224, 0.6);
   padding: 20px;
}

img {
   border-radius: 50%;
   width: 50px;
}

nav {
   display: flex;
}

.header-image {
   margin-right: 100px;
}

.header-title {
   margin-right: 340px;
   margin-left: 340px;
   font-size: 20px;
}

.header-socials {
   margin-left: 100px;
   display: grid;
}

main {
   width: 100%;
   height: 500px;
   background-color: blue;
   padding: 20px;
}
footer {
   width: 100%;
   height: 100px;
   background-color: black;
   padding: 20px;
}