* {
    box-sizing: box-border;
}
body {
    margin: 0;
    font-family: monospace;
}

header {
    background-color: blue;
    color: white;
    padding: 10px;
    width: 100%;
    height: 100%;
}

a {
    color: white;
    text-decoration: none;
}

main {
    background-color: yellow;
    color: blue;
    display: flex;
    
}

.aside1 {
    background-color: white;
    padding: 10px;
    width: 60%;
    height: 600px;
}

.aside2 {
    background-color: grey;
    padding: 10px 200px 10px 10px;
    width: 40%;
    height: 600px;
    
}
.aside {
   flex: auto;
}

.profile-heading {
   border-bottom: 1px solid blue;
}

.experience-heading {
   border-bottom: 1px solid blue;
}

.education-heading {
   border-bottom: 1px solid blue;
}

footer {
    background-color: blue;
    color: white;
    padding: 10px;
    width: 100%;
    height: 100%;;
}
