* {
    box-sizing: box-border;
}
body {
   margin: 0;
   color: rgba(255, 255, 255, 0.966);
   font-family: monospace;
}

a {
   text-decoration: none;
}

header {
   background-color: rgba(0, 0, 0, 0.959);
   padding: 10px 0 10px 0;
   height: 150px;
   width: 100%;
   text-align: center;
}

.resume-title {
   padding: 10px 0 0 0;
   height: 40px;
   margin: 10px auto;
   width: 30%;
}

.contact-address {
   height: 40px;
   margin: 10px auto 10px auto;
   width: 25%;
   padding: 10px 0 10px 0;
}

main {
   background-color: rgba(0, 0, 0, 0.959);
   height: 600px;
   width: 100%;
   padding: 10px 0 10px 0;
}

.profile-heading {
   border-bottom: 0.5px solid rgba(255, 255, 255, 0.2);
   height: 25px;
   margin: 10px auto 10px auto;
   width: 50%;
   text-align: center;
}

.profile-details {
   height: 55px;
   margin: 10px auto 10px auto;
   width: 35%;
   text-align: center;
}

.experience {
   height: 260px;
   margin: 10px 0 10px 0;
   width: 100%;
   text-align: center;
}

.experience-heading {
   border-bottom: 0.5px solid rgba(255, 255, 255, 0.2);
   height: 25px;
   margin: 10px auto 10px auto;
   width: 90%;
   padding: 10px 0 0 0;
   padding: 10px 0 0 0;
}

.algorithm {
   height: 180px;
   width: 45%;
   margin: 10px 20px 10px 20px;
}

li {
   list-style-type: none;
}

.ecart {
   height: 180px;
   width: 45%;
   margin: 10px 20px 10px 20px;
}

ul {
   padding: 0;
}

.experience-float {
   float: left;
}

.education-cert-skills {
   height: 200px;
   margin: 10px 0 10px 0;
   width: 100%;
   text-align: center;
}

.education {
   height: 170px;
   margin: 10px 20px 10px 20px;
   width: 30%;
}

.certifications {
   height: 170px;
   margin: 10px 20px 10px 20px;
   width: 30%;
}

.skills {
   height: 170px;
   margin: 10px 20px 10px 20px;
   width: 30%;
}

.education-cert-skills-float {
   float: left;
}

footer {
   border:1px solid white;
   height: 70px;
   width: 100%;
   background-color: rgba(0, 0, 0, 0.959);
   text-align: center;
   padding: 10px 0 0 0;
}
