#contact {
	padding: 100px 0 0;
}

form {
	display: flex;
	flex-direction: column;
	max-width: 500px;
	width: 100%;
	margin-bottom: 50px;
}

.form-section {
	padding: 10px;
}

label {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

sup {
	color: red;
}

input,
textarea {
	padding: 10px;
	background-color: #16161a;
	border: 1px solid transparent;
}

input:focus,
textarea:focus {
	outline: 1px solid grey;
}

button {
	width: 100%;
	padding: 10px;
	cursor: pointer;
}

.copyright {
	text-align: center;
}
