html {
	box-sizing: border-box;
	font-family: "Merriweather Sans", sans-serif;
}

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
	/* border: 1px solid red; */
}

a {
	text-decoration: none;
}

#header {
	background-color: #1f2937;
	padding: 10px;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

.main-nav-bar {
	max-width: 1024px;
	width: 100%;
	margin: 0 auto;
	display: flex;
	position: fixed;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	background-color: #1f2937;
	padding: 0 10px;
}

.logo {
	margin-right: auto;
	font-family: "Nabla", cursive;
	font-size: 32px;
}

.main-nav-links {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	list-style-type: none;
	gap: 10px;
}

.main-nav-links a {
	font-size: 16px;
	color: #e5e7eb;
}

.hero {
	max-width: 1024px;
	width: 100%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding-top: 50px;
}

.profession p {
	font-size: 16px;
	color: #e5e7eb;
	text-align: center;
}

.profession h2 {
	font-size: 32px;
	color: #f9faf8;
	text-align: center;
	margin-bottom: 20px;
}

.profile-picture img {
	width: 100%;
	height: auto;
	max-width: 200px;
	border-radius: 50%;
	object-fit: cover;
	background-image: linear-gradient(to top, white, #1f2937);
}

@media screen and (min-width: 425px) {
	.main-nav-links {
		gap: 40px;
	}

	.hero {
		flex: 1;
	}
}

@media screen and (min-width: 768px) {
	.hero {
		flex-direction: row-reverse;
		gap: 20px;
	}

	.profession {
		flex: 2;
	}

	.profile-picture {
		flex: 1;
		display: flex;
		justify-content: flex-end;
	}

	.profession h2 {
		font-size: 42px;
		text-align: left;
	}

	.profession p {
		text-align: justify;
	}
}

@media screen and (min-width: 1024px) {
	.hero {
		padding-top: unset;
	}
}

/* :root {
  font-size: 16px;
  --bg-color: rgb(255, 155, 0);
  --border-color: #5d73a3;
}

html[data-theme='light'] {
  --body-bg-color: #f8f8f8;
  --text-color: #030200;
}

html[data-theme='dark'] {
  --body-bg-color: #030200;
  --text-color: #f8f8f8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--body-bg-color);
  color: var(--text-color);
  font-family: 'Merriweather Sans', sans-serif;
  transition: all 0.5s ease-in-out;
  line-height: 1.7;
}

#skip-to-main-content {
  position: absolute;
  left: -999px;
  z-index: 1;
}

#skip-to-main-content:focus {
  left: 0;
}

a {
  text-decoration: none;
  color: var(--text-color);
  transition: all 0.5s ease-in-out;
}

ul {
  list-style-type: none;
}

a:hover,
a:focus {
  background-color: var(--bg-color);
  box-shadow: 5px 5px 0 var(--border-color);
  padding: 0.5rem;
  border-radius: 10px;
  outline: none;
}

header {
  width: 1024px;
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--body-bg-color);
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 0.5rem;
  height: 85.94px;
}

.logo {
  font-family: 'Nabla', cursive;
  font-size: 2rem;
  position: fixed;
  left: 1rem;
  top: 1rem;
  z-index: 1;
}

#theme-icon,
#hamburger-icon {
  display: none;
}

.theme-icon-container {
  font-size: 2rem;
  cursor: pointer;
}

.light-mode-icon {
  display: none;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.dark-mode-icon {
  transition: all 0.5s ease-in-out;
}

.main-nav-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: var(--body-bg-color);
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out;
}

.mobile-nav {
  max-height: 100vh;
}

.hamburger-icon {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  position: fixed;
  right: 1rem;
  top: 1.5rem;
}

.hamburger-icon > .bar {
  width: 30px;
  height: 3px;
  background-color: var(--text-color);
  margin: 3px;
  transition: all 0.5s ease-in-out;
}

#hamburger-icon:checked ~ .hamburger-icon .bar:nth-of-type(1) {
  transform: translateY(10px) rotate(45deg);
}

#hamburger-icon:checked ~ .hamburger-icon .bar:nth-of-type(2) {
  opacity: 0;
}

#hamburger-icon:checked ~ .hamburger-icon .bar:nth-of-type(3) {
  transform: translateY(-4px) rotate(-45deg);
}

main {
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
  padding: 0.5rem;
}

.profession {
  height: calc(100vh - 40px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.profession h2 {
  font-size: 2rem;
  font-weight: 800;
  margin-bottom: 1rem;
  line-height: 1.5;
}

.profession p {
  font-size: 1.5rem;
  font-weight: 300;
}

hr {
  border-bottom: none;
  border-left: none;
  border-right: none;
  margin-bottom: 40px;
}

h3 {
  font-size: 2rem;
  font-weight: 800;
  margin-bottom: 1rem;
}

.about {
  text-align: center;
  margin-bottom: 1rem;
}

.about > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.about-content {
  max-width: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.socials {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

img {
  max-width: 400px;
  width: 100%;
  height: auto;
  margin-bottom: 1rem;
  border-radius: 50%;
}

footer {
  width: 1024px;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}

@media (prefers-reduced-motion: reduce) {
  :root {
    scroll-behavior: auto;
  }
}

@media screen and (min-width: 768px) {
  .main-nav-links {
    right: 1rem;
    left: unset;
    flex-direction: row;
    justify-content: space-between;
    width: 500px;
    height: 100%;
    max-height: 100%;
  }

  .hamburger-icon-container {
    display: none;
  }

  .profession h2 {
    font-size: 3rem;
  }

  .profession p {
    font-size: 2rem;
  }

  h3 {
    font-size: 3rem;
  }

  .about > div {
    flex-direction: row;
    justify-content: space-around;
  }
}

@media screen and (min-width: 1025px) {
  .logo {
    left: 0;
  }

  .main-nav-links {
    right: 0;
  }

  main {
    padding: 0;
  }
} */
